html {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  background-color: rgb(107, 188, 191);
  width: 900px;
  height: 800px;
}

@keyframes rotation {
  0% {
    transform: none;
  }
  50% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(180deg);
  }
}

#circle {
  position: relative;
  display: flex;
  justify-content: center;
  top: 30%;
  animation: rotation 1s linear infinite;
}

.dot {
  background-color: white;
  margin: 0px 30px;
  color: white;
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 10px;
}

@keyframes wave {
  from {
    transform: scaleY(2);
  }
  to {
    transform: scale(1);
  }
}

#bar {
  position: relative;
  display: flex;
  justify-content: center;
  top: 50%;
}

.bar-style {
  background-color: white;
  margin: 0px 5px;
  width: 18px;
  height: 70px;
  border: 1px solid white;
  animation: wave 1s ease-in-out infinite;
}

.bar-style:nth-child(1) {
  animation-delay: 0s;
}

.bar-style:nth-child(2) {
  animation-delay: 0.15s;
}

.bar-style:nth-child(3) {
  animation-delay: 0.3s;
}
.bar-style:nth-child(4) {
  animation-delay: 0.45s;
}
.bar-style:last-child {
  animation-delay: 0.6s;
}
